#Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

#Jupyter
.ipynb_checkpoints/

#Models
*.pkl
*.joblib

#Data
data/raw/*
data/raw_holdout/*
data/corpora/*
data/labeled/*
!data/raw/.gitkeep
!data/raw_holdout/.gitkeep
!data/corpora/.gitkeep
!data/labeled/.gitkeep

!models/*.metrics.json

!models/algo_selector.joblib

#OS
.DS_Store
